$font-family-base: 'Open Sans';
$font-size-base: 15px;

@import "bootstrap";

/* List of people on the homepage */
.people-list {
  display: flex;
  flex-wrap: wrap;
}

.people-list > div {
  flex-basis: calc(50% - 2rem);
  margin: 1rem;
}

@media (min-width: $screen-sm-min) {
  .people-list > div {
    flex-basis: calc(33.33333% - 2rem);
  }
}

/* Detailed view of a person */
.person-details {
    margin-top: 1rem;
}

.person-thumbnail {
  width: 22rem;
}
