/* custom variables */

/* override some foundation defaults */
// $body-bg: $instagram-bg-colour;
// $topbar-height: 4.7rem;
// $h1-font-size: 2.4rem;
// $body-font-family: Open Sans;
// $header-font-family: Raleway;
// $small-font-size: 80%;
// $header-bottom-margin: 1em;
// $topbar-bg: none;
// $paragraph-font-size: 1.13rem;

@import "foundation";

/* custom styles */

/* General app styling */

body {
  margin-top: 3rem;
}

/* The search bar */

.search-bar {
  margin: 0 auto 1rem;
}

/* The person view */
.person-view {
  margin-top: 8rem;
}

.person-details {
  margin-top: 1rem;
}
